[user]
	name = Campbell Vertesi
	email = campbell@vertesi.com
	signingkey = 490B098AB818E8493A13227657B6A751988839C3
[color]
	ui = true
[alias]
	undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[merge]
  conflictstyle = diff3
[commit]
  gpgSign = true
[core]
	autocrlf = input
	editor = vim
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
	default = simple
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[gpg]
	program = /usr/bin/gpg
