[user]
	name = Campbell Vertesi
	email = campbell@vertesi.com
	signingkey = 758F4A3F
[color]
	ui = true
[alias]
	undo = reset --soft HEAD^
  stash-all = stash save --include-untracked
  glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[merge]
  conflictstyle = diff3
[commit]
  gpgSign = true
[core]
	autocrlf = input
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[push]
	default = simple
[gpg]
	program = gpg2
