[Unit]
Description=Gesture engine for touchscreen.

[Service]
ExecStart=%h/.local/bin/libinput-touchscreen
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="DISPLAY=:1"
Type=simple
Restart=always
RestartSec=5
# Environment=

[Install]
WantedBy=default.target
