[Desktop Entry]
Name=Day of the Tentacle Remastered
Comment=Play this game on Steam
Exec=steam steam://rungameid/388210
Icon=steam_icon_388210
Terminal=false
Type=Application
Categories=Game;
