[Unit]
Description=Scan wlan networks on wake
After=suspend.target
After=hibernate.target
After=hybrid-sleep.target

[Service]
ExecStart=/usr/bin/sudo /sbin/iwlist scanning

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
