[Unit]
Description=Screen rotation daemon

[Service]
ExecStart=/usr/bin/rot8 -d eDP-1
Environment="WAYLAND_DISPLAY=wayland-0"
Environment="XDG_SESSION_TYPE=wayland"
Environment="DESKTOP_SESSION=/usr/share/wayland-sessions/sway"
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
